/* General
====================*/
*{
	font-family:  cursive,'Coming Soon';
	font-weight: bold;
	box-sizing: border-box;
}

body{
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;

}

.container{
	width: 100%;
	max-width: 976px;
	border: 10px solid #fff;
	margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}

/* Header
====================*/
header{
	text-align: center;
}
.header__title{
	transition: 3s;
	font-size: 32px;
}
.header__subtitle{
	margin: 20px 0;
}

/* Teame
====================*/
.team{
	margin: 0 auto;
	max-width: 900px;
	width: 100%;
	border: 6px solid black;
	border-radius: 15px;
	display: flex;
	flex-wrap: wrap;
}
.profile{
	width: 33.33%;
	text-align: center;
}
.profile__name a{
	font-size: 24px;
	color: #000;
}
.profile__name a:hover{
	color: red;
	transition: 0.5s;
}
.profile__subname{
	font-size: 20px;
	font-style: italic;
}
.profile__image img{
	width: 300px;
	min-width: 150px;
}
/* WHo
====================*/
.who{
	width: 350px;
	text-align: center;
	margin: 0 auto;
	margin-top: 75px;
}
.who__title{
	margin-bottom: 20px;
}
.who__img img{
	border: 6px solid black;
	border-radius: 16px;
}
.mailto a{
	color: black;

}
.mailto a:hover{
	color: red;
	transition: 0.5s;
}
.mailto{
	margin-top: 20px;
}
/* copyright
====================*/
.copyright{
	text-align: center;
	margin-top: 120px;
	margin-bottom: 12px;
	font-size: 12px;
}

/* @media
====================*/
@media screen and (max-width: 900px){
	/* Teame
====================*/
.team{
	width: 75%;
	border-bottom: solid 6px black;
}
.profile__image img{
	width: 200px;
	
}
.profile__name a{
	font-size: 20px;
}
.profile__subname{
	font-size: 16px;
	
}
}

@media screen and (max-width: 756px){
	/* Teame
====================*/
.team{
	display: flex;
	border-radius: 0px;
	border: 12px solid black;
}
.profile{
	width: 100%;
	border-bottom: solid 6px black;
	padding: 15px 0;
}
.profile:last-child{
	border-bottom: none;
}
.profile__subname{
	font-size: 24px;
	
}
.profile__image img{
	width: 400px;
}
.profile__name a{
	font-size: 30px;
}
}




@media screen and (max-width: 625px){
	/* Teame
====================*/
.team{
	display: flex;
	border-radius: 0px;
	border: 12px solid black;

}
.profile{
	width: 100%;
	border-bottom: solid 6px black;
	padding: 15px 0;
}
.profile:last-child{
	border-bottom: none;
}
.profile__subname{
	font-size: 24px;
	
}
.profile__image img{
	width: 300px;
}
.profile__name a{
	font-size: 30px;
}

.profile__subname{
	font-size: 24px;
}
}